<div class="menu">
  <app-search-field [label]="'Поиск лиги'" [placeholder]="'Введите название лиги'" (searchTextChange)="researchCompetitions($event)"></app-search-field>

  <mat-paginator
    aria-label="Select page"
    [length]="competitionsLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="currentPage"
    (page)="handlePage($event)">
  </mat-paginator>
</div>

<mat-grid-list rowHeight="200px" gutterSize="15px" cols="3">
  <mat-grid-tile *ngFor="let competition of filteredCompetitions">
    <app-competition-card [competition]="competition">
    </app-competition-card>
  </mat-grid-tile>
</mat-grid-list>


